{% load static %}
<!DOCTYPE html>
<html lang="en, id"  > 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      ALTAWHEED print
    </title>

  </head>
  <body >
    <div id="invoice">

      <div class="invoice overflow-auto">
          <div style="min-width: 600px">
              <header>
                  <div class="row">
                      <div class="col">
                          <a target="_blank" href="https://altawheedgroup.com/" >
                              <img src="/static/logo.png" data-holder-rendered="true" />
                              </a>
                      </div>
                      <div class="col company-details">
                          <h1 class="name">
                              <a target="_blank" href="https://altawheedgroup.com/">
                              ALTAWHEED
                              </a>
                          </h1>
                          <div><h5>1377 Aghkan Towers, Corniche El Nile, Cairo</h5></div>
                          <div><h5>(+202) 22057310 (+20) 1103823700</div></h5>
                          <div><h5>product.support@altawheed.com.eg</div></h5>
                      </div>
                  </div>
              </header>
              <main>
                <div>
                  <h1>PLEASE ENTER REQ Number</h1>
                </div>

  </div>
  </body>
</html>
